---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?APPID=5efe3860869bb871a7fd42b8434ff212&cnt=16&q=New%20York&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - back
    body:
      encoding: UTF-8
      string: |
        {"city":{"id":5128581,"name":"New York","coord":{"lon":-74.005966,"lat":40.714272},"country":"US","population":0},"cod":"200","message":0.0359,"cnt":16,"list":[{"dt":1453222800,"temp":{"day":26.38,"min":26.35,"max":26.6,"night":26.35,"eve":26.38,"morn":26.38},"pressure":1010.15,"humidity":49,"weather":[{"id":802,"main":"Clouds","description":"scattered clouds","icon":"03n"}],"speed":11.49,"deg":310,"clouds":48},{"dt":1453309200,"temp":{"day":33.87,"min":23.97,"max":33.87,"night":23.97,"eve":28.42,"morn":24.4},"pressure":1013.53,"humidity":42,"weather":[{"id":801,"main":"Clouds","description":"few clouds","icon":"02d"}],"speed":5.75,"deg":310,"clouds":24},{"dt":1453395600,"temp":{"day":30.27,"min":16.27,"max":30.27,"night":16.27,"eve":24.49,"morn":18.61},"pressure":1014.73,"humidity":43,"weather":[{"id":800,"main":"Clear","description":"sky is clear","icon":"01d"}],"speed":7.8,"deg":320,"clouds":0},{"dt":1453482000,"temp":{"day":26.8,"min":11.35,"max":27.55,"night":23.29,"eve":25.21,"morn":11.35},"pressure":1015.05,"humidity":46,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"speed":4.64,"deg":19,"clouds":68,"snow":3.13},{"dt":1453568400,"temp":{"day":31.01,"min":27.43,"max":32.7,"night":29.77,"eve":32.7,"morn":27.43},"pressure":1006.32,"humidity":0,"weather":[{"id":602,"main":"Snow","description":"heavy snow","icon":"13d"}],"speed":14.04,"deg":48,"clouds":100,"rain":3.32,"snow":26.38},{"dt":1453654800,"temp":{"day":38.19,"min":20.01,"max":38.19,"night":20.01,"eve":30.45,"morn":30.33},"pressure":1003.77,"humidity":0,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"speed":9.53,"deg":340,"clouds":0,"snow":3.29},{"dt":1453741200,"temp":{"day":33.06,"min":18.32,"max":33.06,"night":28.11,"eve":30.61,"morn":18.32},"pressure":1014.83,"humidity":0,"weather":[{"id":600,"main":"Snow","description":"light snow","icon":"13d"}],"speed":2.94,"deg":1[...]
